.all_admin {
    width: 100%;
    display: flex;
    height: fit-content;
   
}
.admin_title{
    width: 100%;
    background-color: rgb(171, 197, 128);
    display: grid;
    place-items: center;
    height: 10vh;
}
.admin_menu_title{
    font-size: 30px;
    align-items: center;
    text-align: center;
    background-color: green;
    margin-bottom: 20px;
    
}
.admin_title h1{
    font-size: 32px;
    text-align: center;
}
.menu_admin{
    height: 90vh;
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 0;
}

.other_admin{
    position: relative;
    overflow:scroll;
    place-items: center;
    height: 90vh;
    width: 55%;
    border-left: 2px solid black;
    
}
.other_admin .input_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input_block form input
{
    width: 400px;
    border: 1px solid blue;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 30px;
}
.input_block form button{
    width: 100px;
    margin: 0 auto;
}
.input_block input::placeholder{
    color: black;
    
}
.button_admin{
    height: 90vh;
    width: 15%;
    
}
.main_menu{
    border-right: 2px solid black;
    height: 100%;
    width: fit-content;
}

.sub_menu{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin: 0;
    align-items: center;
    
}
.main_menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 0;
    margin:0;
    text-align: center;
}

.main_menu ul li:hover{
    
    background: rgb(143, 171, 207);
    cursor: pointer;
    width: 100%;
}
.sub_menu .pidmenu ul li:hover{
    background: rgb(143, 171, 207);
    width: 100%;
    cursor: pointer;
}
.pidmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 50%;
}

.sub_menu  .pidmenu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 0;
    margin:0;
    text-align: center;
    font-weight: 600;
    align-items: center;
    

}
.button_admin{
    
}

.select_img{
    display: flex;
    margin: 30px;
}

.butn{
    border-radius: 25px;
    color:red;
    background: linear-gradient(135deg,#3a8ffe 0%, #9658fe 100%);
    border: none;
    width: 100%;
    font-size: 24px;
    width: fit-content;
}

.popup{   
    display: grid;
    place-items: center;
    width: 100%;
    height: 65%;
}



.background{
    margin:0 auto;
    background: rgb(153, 149, 209);
    position: absolute;
    bottom: 200px;
    height: 100px;
    width: 90%;
}
.sub_buttons{
    width: fit-content;
    display: flex;
}
.background_page1{
    height:fit-content;
}
.background_page2{
    height:fit-content;
}
.elemen_admin{
    font-size: 25px;
    width: 600px;
    margin: 10px 0;
    color: white;
    background: rgb(90, 141, 90);
}
.admin_page1_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin_page2_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elemen_admin_input{
    height: 70px;
}
.elemen_admin_textarea{
    height: 400px;
}
.admin_page1{
    position: absolute;
}
.admin_page2{
    position: absolute;
}



.slider_image{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.slider_all  .image_with_delete{
    position: relative;
    
}
.slider_all img{
    position: relative;
    height: 200px;
    margin: 10px;
    width: 300px;
}
.image_with_delete i{
    position: absolute;
    color: blue;
    left: 25px;
    top:20px;
    font-size: 20px;
    overflow: auto;
}   
.image_with_delete i:hover{
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}

.other_admin .news_admin{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
}

.other_admin .news_admin .one_admin_news {
    background-color:  lavender;
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.other_admin .news_admin .one_admin_news h1 {
    font-size: 22px;
}
.other_admin .news_admin .one_admin_news textarea::placeholder{
    font-size: 16px;
    color:grey;
}
.other_admin .news_admin .one_admin_news textarea{
    height: 70px;

}
.news_admin  .one_admin_news img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.news_admin i:hover{
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}

#slideradd{
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    
}
#slideradd:hover{
   background-color: violet;
   transition: 0.7s;
}
/*                 <div className="admin_page1">
                        <div
					          class="background_page1"
					           style={{
					        	display: showPage1 == 1 ? "block" : "none"                     
		                        }}>
                                <div id="cancel-btn" ><i className="fas fa-times" onClick={() => setShowPage1(0)}></i></div>
                            <div className="admin_page1_info">
                                <input type="text"  className="elemen_admin  elemen_admin_input" placeholder="Заголовок"/>
                                <textarea name="text" className="elemen_admin elemen_admin_textarea" id=""  placeholder="Текст"></textarea>
                             </div>
                             <div className="admin_page1_buttons">
                                <input type="file" />
                                <button>Зберегти</button>
                            </div>
                        </div>
                  </div>
                  <div className="admin_page2">
                        <div
					          class="background_page2"
					           style={{
					        	display: 
					        		showPage1 == 2 ? "block" : "none"        
					        }}>
                                <div id="cancel-btn" ><i className="fas fa-times" onClick={() => setShowPage1(0)}></i></div>
                            <div className="admin_page2_info">
                                <input type="text"  className="elemen_admin  elemen_admin_input" placeholder="Заголовок"/>
                                <textarea name="text" className="elemen_admin elemen_admin_textarea" id=""  placeholder="Текст"></textarea>
                                <input type="text"  className="elemen_admin  elemen_admin_input" placeholder="Посилання"/>
                             </div>
                             <div className="admin_page2_buttons">
                                
                                <button>Зберегти</button>
                            </div>
                        </div>
                  </div>
                 */

                 /* <div className="buttons">
                            <div className="button_admin">
                                    <div
                                    class="background"
                                    style={{
                                        transform: `scale(${
                                            showForm ? 1 : 0
                                        })`,
                                    }}>    
                                  <div id="cancel-btn" ><i className="fas fa-times" onClick={() => setShowForm(false)}></i></div>
                                  <div className="popup">
                                   <div className="sub_buttons">
                                        <button onClick={() => setShowPage1(1)} >1</button>
                                        <button onClick={() => setShowPage1(2)} >2</button>
                                        <button onClick={() => setShowPage1(3)} >3</button>
                                    </div>
                                </div>       
                            </div>
                             <button className="butn" onClick={(i) => AddClick(i)}> Додати</button>

                         </div>*/