.all_admin {
    width: 100%;
    display: flex;
    height: fit-content;
   
}
.admin_title{
    width: 100%;
    background-color: rgb(171, 197, 128);
    display: grid;
    place-items: center;
    height: 10vh;
}
.admin_menu_title{
    font-size: 30px;
    align-items: center;
    text-align: center;
    background-color: green;
    margin-bottom: 20px;
    
}
.admin_title h1{
    font-size: 32px;
    text-align: center;
}
.menu_admin{
    height: 90vh;
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 0;
}

.other_admin{
    position: relative;
    overflow:scroll;
    place-items: center;
    height: 90vh;
    width: 100%;
    border-left: 2px solid black;
    
}
.other_admin .input_block form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.other_admin .input_block form #fileinput{
    font-size: 18px;
    width: 300px;

}


.input_block form input
{
    width: 400px;
    border: 1px solid blue;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 30px;
}

.but{
  display: flex;
 justify-content: center;
 text-align: center;
}

.input_block form .but button{
    width: 100px;
    
    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 5px;

}
.input_block input::placeholder{
    color: black;
    
}
.button_admin{
    height: 90vh;
    width: 15%;
    
}
.main_menu{
    border-right: 2px solid black;
    height: 100%;
    width: fit-content;
}

.sub_menu{
    height: 80%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin: 0;
    align-items: center;
    
}
.main_menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 0;
    margin:0;
    text-align: center;
}

.main_menu ul li:hover{
    
    background: rgb(143, 171, 207);
    cursor: pointer;
    width: 100%;
}
.sub_menu .pidmenu ul li:hover{
    background: rgb(143, 171, 207);
    width: 100%;
    cursor: pointer;
}
.pidmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow:scroll;
    border: 1px solid black;
    border-left:none;
    border-right: none;
    
    width: fit-content;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 50%;
}

.sub_menu  .pidmenu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 0;
    margin:0;
    text-align: center;
    font-weight: 600;
    align-items: center;
    

}
.button_admin{
    
}

.select_img{
    display: flex;
    margin: 30px;
}

.butn{
    border-radius: 25px;
    color:red;
    background: linear-gradient(135deg,#3a8ffe 0%, #9658fe 100%);
    border: none;
    width: 100%;
    font-size: 24px;
    width: fit-content;
}

.popup{   
    display: grid;
    place-items: center;
    width: 100%;
    height: 65%;
}



.background{
    margin:0 auto;
    background: rgb(153, 149, 209);
    position: absolute;
    bottom: 200px;
    height: 100px;
    width: 90%;
}
.sub_buttons{
    width: fit-content;
    display: flex;
}
.background_page1{
    height:fit-content;
}
.background_page2{
    height:fit-content;
}
.elemen_admin{
    font-size: 25px;
    width: 600px;
    margin: 10px 0;
    color: white;
    background: rgb(90, 141, 90);
}
.admin_page1_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin_page2_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elemen_admin_input{
    height: 70px;
}
.elemen_admin_textarea{
    height: 400px;
}
.admin_page1{
    position: absolute;
}
.admin_page2{
    position: absolute;
}



.slider_image{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.slider_all  .image_with_delete{
    
    
}
.slider_all img{
    
    height: 300px;
    margin: 10px;
    width: 520px;
}
.image_with_delete .knopku input{
    width: 50px; 
    font-size: 20px;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}
.knopku{
    display: flex;
    margin: 10px;
    padding: 10px 0;
    align-items: center;
    background-color: green;
    
}

.knopku button{
    margin: 0 10px;
}
.image_with_delete .knopku input::placeholder{
    color:rgb(70, 69, 69);

}
.image_with_delete .knopku i{
    
    color: rgb(0, 0, 0);
    font-size: 20px;
    overflow: auto;
    margin-right: 20px;
}   
.image_with_delete .knopku i:hover{
    cursor: pointer;
   
    transition: 0.5s;
}

.other_admin .news_admin{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
}
.upload{
    display: flex;
    justify-content: center;
    margin: 40px;
}


.special_editor_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.special_editor_buttons button{  
    margin-right: 10px;
    border-radius: 5px;
}
.title_galery{
    display: flex;
    justify-content: center;
}
.title_galery button{
    border-radius:10px;
}
.admin_gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.admin_gallery .gallery_item{
   display: flex;
   flex-direction: column;
   margin: 20px;
   place-items: center;
   background-color: rgb(212, 212, 212);

}
.admin_gallery .gallery_item img {
    width: 80%;
    height: 100% ;
    max-height: 300px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.gallery_item .knopku_gallery{
    display: flex;
    margin: 10px;
    
}
.knopku_gallery button{
    border-radius: 10px;
}

.opp_admin{
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0 auto;
}

.opp_admin .one_opp_admin{

}



.one_opp_admin .input_for_opp input{
    width: 200px;
    border:1px solid black;
}
.other_admin .news_admin .one_admin_news {
    background-color:  lavender;
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.other_admin .news_admin .one_admin_news h1 {
    font-size: 22px;
}
.other_admin .news_admin .one_admin_news textarea::placeholder{
    font-size: 16px;
    color:grey;
}
.other_admin .news_admin .one_admin_news textarea{
    height: 70px;

}
.news_admin  .one_admin_news img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.news_admin i:hover{
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}

#slideradd{
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    
}
#slideradd:hover{
   background-color: violet;
   transition: 0.7s;
}


.admin_employers{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin_employers .one_admin_emp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(46, 170, 170);
    width: 800px;
    border-radius: 10px;
    margin: 20px auto;
    align-items: center;
    padding: 10px;
}

.admin_employers .one_admin_emp button{
    border-radius:5px ;
}
.forma_add_emp{
    display: flex;
    justify-content: center;
}
.forma_add_emp form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: 600px;
}
.forma_add_emp form input {
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    
}
.forma_add_emp form input::placeholder{
    color:grey;
}

.forma_add_emp form button{
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.qwert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.qwert input{
    width: 40px;
    background-color: rgb(167, 167, 167);
    border-radius:5px ;
}
.qwert button{
    width:100px;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px;
    padding: 0;
}
.qwert input ::placeholder{
    color:gray;
}


