.cook_page p{
    text-align: justify;
}

.image_speciality{
    
    width: 100%;
    height: 450px;
    position: relative;
    display: grid;
    place-items: center;
}
.title_h{
    position: absolute;
    display: flex;
    flex-direction: column;
    
}
.cook_page .container_all{
    display: flex;
    flex-direction: column;
}
.image_speciality img{
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
}
.image_speciality h3{ 
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
font-size:65px;
  color: rgb(3, 3, 3);
  
  
}

.history_cookies p{
    padding: 20px;
    font-size: 25px;
}
.law_speciality{
    margin-top: 30px;
    background-color: rgb(164, 195, 199);
    height: fit-content;
    border-radius:15px;
    padding: 20px;
}
.law_speciality p{
    margin: 0;
    padding: 25px;
    font-size: 25px;
    font-style: italic;
    
}
.sphere_speciality{
    margin: 50px 0 0;
}

.spheres_speciality h5{
  font-weight: 800;
  font-size:35px
}
.spheres_speciality ol {
  font-size: 25px;
 font-style: italic;
}
.spheres_speciality ol li span {
    text-decoration: underline;
}

@media (max-width:1025px){
    .image_speciality{
    
        width: 100%;
        height: 390px;
       
    }
   
   
    
    .image_speciality h3{ 
        font-weight: 700;
       
        margin: 30px 0;
    font-size:50px;
      
      
      
    }
    
    .history_cookies p{
        padding: 17px;
        font-size: 20px;
    }
    .law_speciality{
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: rgb(164, 195, 199);
        height: fit-content;
        border-radius:15px;
        padding: 20px;
    }
    .law_speciality p{
        padding: 18px;
        font-size: 25px;
        font-style: italic;
        
    }
    .sphere_speciality{
        margin: 40px 0 0;
    }
    
    .spheres_speciality h5{
      font-weight: 800;
      font-size:25px
    }
    .spheres_speciality ol {
      font-size: 20px;
     font-style: italic;
    }
    
}

@media (max-width:769px){
    .image_speciality{
    
        width: 100%;
        height: 350px;
       
    }
   
   
    
    .image_speciality h3{ 
        font-weight: 700;
       
        margin: 20px 0;
         font-size:40px;
     
    }
    
    .history_cookies p{
        padding: 14px;
        font-size: 16px;
    }
    .law_speciality{
        margin: 15px 0;
        background-color: rgb(164, 195, 199);
        height: fit-content;
        border-radius:15px;
        padding: 20px;
    }
    .law_speciality p{
        padding: 15px;
        font-size: 18px;
        font-style: italic;
        
    }
    .sphere_speciality{
        margin: 30px 0 0;
    }
    
    .spheres_speciality h5{
      font-weight: 800;
      font-size:20px
    }
    .spheres_speciality ol {
      font-size: 17px;
     font-style: italic;
    }
    
}

@media (max-width:426px){
    .image_speciality{
    
        width: 100%;
        height: 250px;
       
    }
   
   
    
    .image_speciality h3{ 
        font-weight: 700;
       
        margin: 15px 0;
         font-size:25px;
     
    }
    
    .history_cookies p{
        margin: 5px 5px;
        padding: 10px;
        font-size: 14px;
    }
    .law_speciality{
        margin: 15px 0;
        background-color: rgb(164, 195, 199);
        height: fit-content;
        border-radius:15px;
        padding: 10px;
    }
    .law_speciality p{
        padding: 8px;
        font-size: 13px;
        font-style: italic;
        
    }
    .sphere_speciality{
        margin: 30px 0 0;
    }
    
    .spheres_speciality h5{
      font-weight: 800;
      font-size:14px
    }
    .spheres_speciality ol {
      font-size: 13px;
     font-style: italic;
    }
    
}

@media (max-width:376px){
    .image_speciality{
    
        width: 100%;
        height: 220px;
       
    }
   
   
    
    .image_speciality h3{ 
        font-weight: 700;
       
        margin: 10px 0;
         font-size:20px;
     
    }
    
    .history_cookies p{
        margin: 5px 5px;
        padding: 10px;
        font-size: 12px;
    }
    .law_speciality{
        margin: 10px 0;
        background-color: rgb(164, 195, 199);
        height: fit-content;
        border-radius:15px;
        padding: 7px;
    }
    .law_speciality p{
        padding: 8px;
        font-size: 11px;
        font-style: italic;
        
    }
    .sphere_speciality{
        margin: 30px 0 0;
    }
    
    .spheres_speciality h5{
      font-weight: 800;
      font-size:13px
    }
    .spheres_speciality ol {
      font-size: 12px;
     font-style: italic;
    }
    
}