.main_news{
    background-color: rgb(255, 255, 255);
}
.news_title_main a{
    color:black;
    text-decoration: none;
    transition: color .4s linear;
}
.news_title_main a:hover{
    color: rgb(118, 140, 240);
    
}

.grid_news{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.info_news{
    display: flex;
    flex-direction: column;  
}
.one_news_main{

    background-color: #ededee;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 550px;
    align-items: center;
   
}
.imagen{
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}
.info_news img:hover{
    transform: scale(1.3);
    transition: all 1s ease-out;
    cursor:pointer;
    
}
.info_news .news_title_main {
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.info_news h3{
    color:black;
    font-weight: 800;
    font-size: 30px;
    
}
.news_short_text_main{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}
