.banner{
    display: flex;
    flex-direction: column;
}
.news_preview{
    width: 100%;
    height: 10vh;
    background-color: brown;
    margin-top: -1vh;
}
.news_preview .container_all{
    display: flex;
    align-items: center;
   
}
.news_preview .container_all h1{
    
    
    margin: 0 auto;
    color: white;
    
}
.shedule{
    width: 100%;
    height: 400px;
    background: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_481564534_65139.jpg');
}
.shedule_text{
    
    background-color: tomato;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    opacity: 0.33;
    z-index: 11;
}