.mainInfo{
    width: 100%;
    height: 220px;
    display: grid;
    place-items: center;
    
}
.line_header{
    border:none;
    background-color: darkblue;
    border-radius: 5px;
    height: 6px;
    width: 100%;
    margin: 0;
}
.About_us{
    align-items: center;
    display: grid;
    place-items: center;
}
.text{
    height: 200px;
}
.text img{
    width: 100%;
   height: 100%;
}
.container_all{
    margin:0 auto;
    height: 100%;
    width: 75%;
}
.container_all ul li{
    padding: 0 10px;
    list-style: none;
    font-size:23px;
    margin: 0;
}
.container_all nav{
    display: flex;
   height: 100%;
    align-items: center;
    margin:0 auto;
}
.container_all  ul{
    margin: 0;
    display: flex;

}

.menu_header{
    height: 50px;
    background-color: #396FC5;
}

.body_header{
     background: linear-gradient(90deg, rgba(31,162,255,1) 0%, rgba(18,216,250,1) 47%, rgba(166,255,203,1) 100%);
    
}
.image{
    width: 200px;
    height: 200px;
}
.image img{
    width: 100% !important;
    height: 100% !important;
   margin-left: 10px;
}
.About_us{
    display: flex;
   justify-content: space-between;

   
}
.About_us{
    display: flex;
    place-items: center;
   justify-content: space-between;

   
}
.text{
    font-size: 45px;
    width: fit-content;
   
}



.topmenu > li {
    display: block;
   
    position: relative;
  }
  
  
 .one .submenu {
    padding: 0;
    position: absolute;
    top: 100%;
    width: 300px;
    z-index: 3;
   overflow: hidden;
  }
  .submenu  li{
      font-size: 15px;
  }
  .one .submenu {
      transition: 5s;
    display: none;
    border-radius: 10px;
    background: #025677;
  }
  .one ul li:hover .submenu {
    display: block;
    transition: 2s;
  }
  .one  ul li:hover {
    color: rgb(147, 225, 255);
  
  }
.one .topmenu .submenu li:hover {
    
    background: rgb(106, 80, 255);
}
  