

.page img{
   display: flex;
    width: 80%;
    object-fit: contain;
     align-items: center;
     justify-content: center;
    margin: 25px auto !important;
}
.page{
    width: 100%;
}
.page ul{
    display: flex;
    flex-direction: column;

}
.page ol{
    display: flex;
    flex-direction: column;
}

.title_page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.pages_blocks{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.pages_blocks img{
    width: 100%;
    height: 50vh;
    margin-bottom:  30px; 
    object-fit: cover;   
}


.page_block{
    background-color: rgb(206, 201, 193);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    width: 100%;
}

.title_page_block{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color:none;
    
}

.other_block_info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.other_block_info ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.other_block_info ul li{
    list-style: number;
    font-size: 24px;
    margin: 10px;
}


.images_with_text_info{
    display: flex;
    justify-content: space-between;

}
.images_with_text_info img{

    width: 50%;
    object-fit: cover;
}

.images_with_text_info .images_with_text_info_text{
    font-size: 18px;
    display: flex;
    
}
@media (max-width:2561px){
    

   .page{
       font-size: 25px;
   }

   .page h1{
    font-size: 40px;
  }
}

@media (max-width:1441px){
   

   .page{
       font-size: 20px;
   }
   .page h1{
    font-size: 40px;
  }
}

@media (max-width:1025px){
    

    .page{
        font-size: 18px;
    }

    .page h1{
        font-size: 30px;
      }
}

@media (max-width:769px){
    
    .page img{

        width: 100%;
        object-fit: contain;
        margin: 0 auto;
    }
    .page{
        font-size: 16px;
    }

    .page h1{
        font-size: 25px;
      }
}

@media (max-width:426px){
    
    .page .container_all{
        width: 85% !important;
        margin: 0 auto;
    }
    .page{
        font-size: 13px;
    }
    .page h1{
        font-size: 23px;
      }
}

@media (max-width:376px){
    

    .page{
        font-size: 12px;
    }
    .page h1{
        font-size: 20px;
      }
}
