
.add_news{

    width: fit-content;
    height: fit-content !important;
    background: radial-gradient(circle, rgba(222,98,98,1) 0%, rgba(255,184,140,1) 100%);
    padding: 10px 10px 10px 10px ;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.news_admin .container_all{
    display: flex;
    margin: 0 auto;
}
.add_news h1{
    font-size: 40px;
    font-weight: 800;
    color:black;
    text-align: center;
}
.add_news .info{
    display: flex;
    justify-content: space-evenly;
}
.add_news .info img{
    align-items: flex-start;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    margin: 10px;
}
.add_news .info .text{
    align-items: flex-end;
    font-size: 18px;
    
}

.add_news .info .text input{
    margin: 10px;
    display: block;
    height: 40px;
    border-radius: 10px;
    width: 500px;
    background-color: #f8c6c6;
    padding: 10px;
    border: 1px solid rgb(0, 56, 129); 
}

.add_news .info .text textarea:nth-child(2){
    margin: 10px;
    display: block;
    height: 80px;
    border-radius: 10px;
    width: 500px;
    color:black;
    padding: 10px;
    background-color: #f8c6c6;
    border: 1px solid rgb(0, 56, 129); 
     
}
.add_news .info .text textarea:nth-child(3){
    margin: 10px;
    display: block;
    height: 150px;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    background-color: #5eb9e4;
    border: 1px solid rgb(0, 56, 129);
    
}
.add_news button{
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    font-weight: 700;
    width: 150px;
    height: fit-content;
    background-color: rgb(218, 218, 246);
}

.all_for_file{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}
.container_for_krasota{/*container*/
    height: 350px;
    width: 430px;
}
.container_for_krasota .wrappers{
    position: relative;
    height: 300px;
    width: 100%;
    border: 2px dashed #c2cdda;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrappers .kartinka{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrappers  .kartinka img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.wrappers .icon{
    font-size: 100px;
    color: #9658fe;
}
.wrappers .nadpus{
    font-size: 20px;
    color: #5b5b7b;
    font-weight: 500;
}

.add_news  #cancel-btn{
   
    right: 15px;
    top:15px;
    cursor: pointer;
    color:#9658fe;
    font-size: 20px;
}

.add_news  #cancel-btn:hover{
    cursor: pointer;
}

.wrappers .file-name{
    display: none;
    position: absolute;
    bottom: 0px;
    color:#fff;
    padding: 8px 0;
    width: 100%;
    font-size: 18px;
    background: linear-gradient(135deg,#3a8ffe 0%, #9658fe 100%);
}

.add_news #custom-btn{
    margin-top: -20px;
    width: 100%;
    height: 30px;
    display: block;
    border-radius: 25px;
    background: linear-gradient(135deg,#3a8ffe 0%, #9658fe 100%);
    border: 0;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;  
}

.admin_all_news{
    height: fit-content;
    background: #5b5b7b;
    padding: 10px 10px 10px 10px ;
    border-radius: 10px;
    margin: 30px 0 30px 0;
    display: grid;
}
.one_news{
    height: fit-content;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #e2c8c8b7;
}
.one_news .title_news{
    font-size: 20px;
    font-weight: 800;
    display: flex;
    place-content: center;
    color: black;

}
.one_news .text textarea{
    margin: 10px;
    display: block;
    height: 150px;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    background-color: #f8c6c6;
    border: 1px solid rgb(0, 56, 129);
    
}
.one_news .title_news  input{
    margin: 10px;
    display: block;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    width: 500px;
    background-color: #f8c6c6;
    padding: 10px;
    border: 1px solid rgb(0, 56, 129); 
}

.image_in_news img{
    align-items: flex-start;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    margin: 10px;
}
.shos_with_news{
    display: flex;
    justify-content: space-evenly;
}
.header_admin_news{
    display: grid;
    font-size: 40px;
    font-weight: 900 ;
    text-align: center;
    
}
 #done{
    border-radius: 25px;
    color:red;
    background: linear-gradient(135deg,#3a8ffe 0%, #9658fe 100%);
    border: none;
    width: 250px;
    font-size: 24px;
}

.button_done{
    display: flex;
    justify-content: center;
}
.info{
    width: fit-content;
    height: fit-content !important;
}
.info .text{
    width: fit-content !important ;
     height: fit-content !important;
}