.one_uvaha{
   height: fit-content;
   display: flex;
   flex-direction: column;
   background-color: rgb(182, 209, 243); 
   border-radius: 10px;
   width: 800px;
   padding: 20px;
   margin: 20px auto;
}
.one_uvaha button{
    margin: 0 auto;
    border-radius: 20px;
    width: 200px;
}
.add_warning form{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 500px;
}
.add_warning form{
    
}