.entrant .container_all{
    display: flex;
    flex-direction: column;
}

.entrant_title{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.entrant_title h1{
    font-size: 46px;
    color:red;

}
.entrant_info{
    margin: 0 auto;
}

.entrant .entrant_image{
    padding: 0;
 width: 90%;
 
 object-fit: contain;
 margin: 20px auto;
 display: block;
 border-bottom:2px solid #424245;
}

.entrant_text_info{
    display: flex;
    flex-direction: column;
}
.entrant_text_info ul {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.entrant_text_info ul h1{
    text-shadow: 3px 3px 0px rgba(136, 178, 218, 0.835);
    font-size: 50px ;
}
.entrant_text_info ul li{
    list-style: circle;
    font-size: 20px;
    font-style: italic;
    margin-left: 40px;
}

.rules{
    display: flex;
    justify-content: center;
}
.rules a{
    font-size: 28px;
    
}

.vuprobuvannya{
    display: flex;
    flex-direction: column;
    
}
.vuprobuvannya h2{
    margin: 20px;
}
.konkurs_link{
   
    opacity:0.6;
    width: 100%;
    display: grid;
    place-items: center;
}
.konkurs_link img{
    height: 120px;
    object-fit: contain;
}
.konkurs_link:hover{
    opacity:1;
}

@media (max-width:1025px){
    
    
    .entrant_title{
        
        margin: 10px;
    }
    .entrant_title h1{
        font-size: 40px;
        color:red;
    
    }
    .entrant_info{
        margin: 0 auto;
    }
    
    .entrant_image{
     width: 90%;
     
     object-fit: contain;
     margin: 20px auto;
     display: block;
    }
    
  
    .entrant_text_info ul {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    
    .entrant_text_info ul h1{
        text-shadow: 3px 3px 0px rgba(136, 178, 218, 0.835);
        font-size: 38px ;
    }
    .entrant_text_info ul li{
        list-style: circle;
        font-size: 18px;
        font-style: italic;
        margin-left: 40px;
    }
    .konkurs_link img{
        height: 100px;
        object-fit: contain;
    }
}

@media (max-width:769px){
    
    
    .entrant_title{
        
        margin: 10px;
    }
    .entrant_title h1{
        font-size: 30px;
        color:red;
    
    }
    .entrant_info{
        margin: 0 auto;
    }
    
    .entrant_image{
     width: 90%;
    
     object-fit: contain;
     margin: 20px auto;
     display: block;
    }
    
  
    .entrant_text_info ul {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    
    .entrant_text_info ul h1{
        text-shadow: 3px 3px 0px rgba(136, 178, 218, 0.835);
        font-size: 28px ;
    }
    .entrant_text_info ul li{
        text-align: left !important;
        list-style: circle;
        font-size: 15px;
        font-style: italic;
        margin-left: 25px;
    }
    .entrant .entrant_image{
        padding: 0;
     width: 90%;
     
     object-fit: contain;
     margin: 20px;
     display: block;
     border-bottom:2px solid #424245;
    }

    .konkurs_link img{
        height: 80px;
        object-fit: contain;
    }
}

@media (max-width:426px){
    
    
    .entrant_title{
        
        margin: 10px;
    }
    .entrant_title h1{
        font-size: 25px;
    
    }
    
    
    .entrant_image{
     width: 90%;
    
     object-fit: contain;
     margin: 10px auto;
     display: block;
    }
    
    .konkurs_link{
        height: 70px;
       
        display: grid;
        place-items: center;
    }
    .entrant_text_info ul {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    
    .entrant_text_info ul h1{
        text-shadow: 3px 3px 0px rgba(136, 178, 218, 0.835);
        font-size: 21px ;
    }
    .entrant_text_info ul li{
        text-align: left !important;
        list-style: circle;
        font-size: 13px;
        font-style: italic;
        margin-left: 10px;
    }
    .entrant .entrant_image{
        padding: 0;
     width: 90%;
     
     object-fit: contain;
     margin: 20px;
     display: block;
     border-bottom:1px solid #424245;
    }

    .konkurs_link img{
        height: 70px;
        object-fit: contain;
    }
    
}

@media (max-width:376px){
    
    
    .entrant_title{
        
        margin: 10px;
    }
    .entrant_title h1{
        font-size: 25px;
    
    }
    
    
    .entrant_image{
     width: 90%;
     
     object-fit: contain;
     margin: 10px auto;
     display: block;
    }
    
  
    .entrant_text_info ul {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    
    .entrant_text_info ul h1{
        text-shadow: 3px 3px 0px rgba(136, 178, 218, 0.835);
        font-size: 21px ;
    }
    .entrant_text_info ul li{
        text-align: left !important;
        list-style: circle;
        font-size: 13px;
        font-style: italic;
        margin-left: 0;
    }
    .konkurs_link img{
        height: 65px;
        object-fit: contain;
    }
}